<div class="panel panel-default">

  <div class="panel-heading">
    <div class="panel-title">
      <h1>Listing concerns</h1>
    </div>
  </div>

  <div class="form-group">
    <div class="panel-body">
      <table>
        <thead>
          <tr><br>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @pins.each do |pin| %> <!--loops don't need = sign-->
            <tr>
              <td><%= pin.description %></td>
              <td><%= link_to 'Show', pin %></td>

              <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
              <td><%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <br>
    </div>
  </div>

  <div class="panel-footer">
    <%= link_to 'Add New Concern', new_pin_path %>
  </div>
</div>